<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/logo.png" />
    <meta name="description" content="FONDO DE ASEGURAMIENTO AGRICOLA Y GANADERO LA RAZA." />
    <meta name="keywords" content="fondo, agricola, ganaderia, aseguramiento" />
    <meta name="author" content="Gabriel Rodriguez Angeles." />
    <meta name="copyright" content="FONDO DE ASEGURAMIENTO AGRICOLA Y GANADERO LA RAZA." />
    <meta name="robots" content="index" />


    <meta property="og:title" content="FONDO DE ASEGURAMIENTO AGRICOLA Y GANADERO LA RAZA" />

    <meta property="og:url" content="https://fondolaraza.com" />
    <meta property="og:description" content="Sitio informativo FONDO DE ASEGURAMIENTO AGRICOLA Y GANADERO LA RAZA">
    <meta property="og:image" content="https://fondolaraza.com/logo.png" />
    <meta property="og:type" content="article" />
    <meta property="og:locale:alternate" content="es_ES" />

    <title>FONDO DE ASEGURAMIENTO AGRICOLA Y GANADERO LA RAZA </title>
    <!-- CSS PARA ALERTIFY -->
    <link rel="stylesheet" type="text/css" href="css\alertify.css">
    <link rel="stylesheet" type="text/css" href="css\themes\default.css">
    <!-- boostrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome Icons -->
    <link href="css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- estilos propios -->
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Theme included stylesheets -->

    <style>
        .galerytext {
            padding: 0px;
            margin: 0px;
            font-size: 90%;
        }

        .whats:hover {
            color: #00bb2d;
        }
        .mail:hover {
            color: #336BFF;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
            background: transparent;
        }

        .parallax-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 130%;
            height: 100%;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
        }

        .swiper-slide .title {
            padding-left: 100px;
            font-size: 41px;
            font-weight: 300;
        }

        .swiper-slide .subtitle {
            font-size: 21px;
            padding: 10px;
            padding-left: 100px;
        }

        .swiper-slide .text {
            padding: 5px;
            padding-left: 100px;
            font-size: 12px;
            max-width: 550px;
            line-height: 1.1;
            text-align: justify;
        }

        .append-buttons {
            text-align: center;
            margin-top: 20px;
        }

        .append-buttons a {
            display: inline-block;
            border: 1px solid #007aff;
            color: #007aff;
            text-decoration: none;
            padding: 4px 10px;
            border-radius: 4px;
            margin: 0 10px;
            font-size: 13px;
        }

        @media (max-width: 1000px) {
            .logoMas {
                width: 50% !important;
                height: 88% !important;
                padding-top: 40px;

            }

            .swiper-slide .title {
                padding-left: 5px;
                font-size: 41px;
                font-weight: 300;
            }

            .swiper-slide .subtitle {
                font-size: 21px;
                padding: 10px;
                padding-left: 5px;
            }

            .swiper-slide .text {
                padding: 5px;
                padding-left: 5px;
                font-size: 11px;
                padding-right: 15px;
                max-width: 500px;
                line-height: 1.1;
                text-align: justify;
            }
        }

        .logoMas {
            width: 90%;
            height: 90%;

        }
    </style>



</head>

<body>
    <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark navcolor fixed-top navcolor fixed-top scrolled ">
        <div class="titletext">
            <a class="navbar-brand texttitle" href="#">
                <img src="/img/logo.png" width="60" height="60" class="d-inline-block align-top logoimg"
                    alt="FONDO DE ASEGURAMIENTO AGRICOLA Y GANADERO LA RAZA logo" loading="lazy" id="logoi">
                <div class="logotitle" id="logot">
                    FONDO DE ASEGURAMIENTO
                    <br>
                    AGRICOLA Y GANADERO LA RAZA
                </div>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="btnmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#header" id="idInicio">Inicio</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Nosotros" id="idNosotros">Nosotros</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Galeria" id="idGaleria">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Noticias" id="idNoticias">Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Blog" id="idBlog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Servicios" id="idServicios">Servicios</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- fin de la barra de navegacion -->

    <!-- header pagina -->
    <header class="masthead" id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 text-center ">
                    <img src="/img/logo.png" alt="Logo Empresas la raza" class="logoMas">
                </div>
                <div class="col-md-7">
                    <h1>FONDO DE ASEGURAMIENTO
                        AGRICOLA Y GANADERO LA RAZA.
                    </h1>
                    <hr class="divider hrB">

                    <a href="https://m.facebook.com/fondoagricolayganaderolaraza/"><i
                            class="fab fa-facebook-square size4"></i></a>
                    <i class="fab fa-youtube size4y "></i>
                    <a class="whats" href="https://wa.me/523314177024?text=Necesito%20ayuda!!"><i
                            class="fab fa-whatsapp size4y"></i></a>
                            <a class="mail" href="mailto:promocion.laraza@gmail.com" > <i class="far fa-envelope size4y"></i></a>
                            
                            
                </div>
            </div>
        </div>
    </header>
    <!-- fin del header -->









    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->




    <!-- inicio de la galeria -->
    <section class="container-fluid colorV" id="Galeria">
        <!-- Galeria -->
        <!-- Grid row -->
        <h2 style="color:black; font-size:3.2rem;">GALERIA</h2>
        <a href="/galeria" class="btn btn-success">Ver mas</a>
        <hr class="divider hrN">
        <section class="fluid-container margincity ">
            <div id="galeriaC" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#galeriaC" data-slide-to="0" class="active"></li>
                    <li data-target="#galeriaC" data-slide-to="1"></li>
                    <li data-target="#galeriaC" data-slide-to="2"></li>
                    <li data-target="#galeriaC" data-slide-to="3"></li>
                    <li data-target="#galeriaC" data-slide-to="4"></li>
                </ol>

                <div class="carousel-inner" style="height:590px;">




                    <div class="carousel-item active"
                        style="height:100%; background: linear-gradient(to bottom,rgba(36,175,95,.8) 0,rgba(166,107,56,.4) 100%),url(/img/cultivo5.jpg);    background-size:cover;  background-position: center;  background-repeat: no-repeat;">


                        <%   let uno=multimediaC.slice(0, multimediaC.length/2); %>
                        <%  let dos=multimediaC.slice(multimediaC.length/2,multimediaC.length); %>

                        <div class="row">

                            <% if(uno.length>=1){ %>
                            <!-- si se ve en mobiles -->
                            <% for(let a=0; a< uno.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->

                                <div class="modal fade" id="modal<%=uno[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(uno[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=uno[a].url.substring(uno[a].url.indexOf("=")+1,uno[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=uno[a].img%>"></img>
                                                <% } %>




                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=uno[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=uno[a].img%>"
                                        class="<%if (a!=0){ %> disP <% } %> " alt="video" data-toggle="modal"
                                        data-target="#modal<%=uno[a].id%>"></a>
                            </div>
                            <% } %>
                            <%  }%>


                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->

                        </div>

                        <div class="row">

                            <!-- si se ve en mobiles -->

                            <% if(dos.length>=1){ %>

                            <% for(let a=0; a< dos.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=dos[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(dos[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=dos[a].url.substring(dos[a].url.indexOf("=")+1,dos[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=dos[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=dos[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=dos[a].img%>"
                                        class="<%if (a!=3){ %> disP <% } %>" alt="video" data-toggle="modal"
                                        data-target="#modal<%=dos[a].id%>"></a>
                            </div>
                            <%  }%>


                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <% } %>
                        </div>


                        <!-- Grid row -->
                        <div class="carousel-caption d-md-block galerytext"
                            style="background: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.6) 100%)">
                            <h3>CUQUIO</h3>
                            <p>Abasolo 90</p>
                            <p>TEL. (373) 79 6 58 45 </p>
                            <p>TEL. (373) 79 6 53 85 </p>
                            <p><a href="mailto:operativa.laraza@gmail.com">operativa.laraza@gmail.com</a></p>
                        </div>
                    </div>




                    <%    uno=multimediaT.slice(0, multimediaT.length/2); %>
                    <%   dos=multimediaT.slice(multimediaT.length/2,multimediaT.length); %>
                    <div class="carousel-item "
                        style="height:100%; background: linear-gradient(to bottom,rgba(36,175,95,.8) 0,rgba(166,107,56,.4) 100%),url(/img/cultivo5.jpg);    background-size:cover;  background-position: center;  background-repeat: no-repeat;">

                        <div class="row">

                            <!-- si se ve en mobiles -->
                            <% if(uno.length>=1){ %>

                            <% for(let a=0; a< uno.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=uno[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(uno[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=uno[a].url.substring(uno[a].url.indexOf("=")+1,uno[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=uno[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=uno[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=uno[a].img%>"
                                        class="<%if (a!=0){ %> disP <% } %> " alt="video" data-toggle="modal"
                                        data-target="#modal<%=uno[a].id%>"></a>
                            </div>
                            <%  }%>

                            <% } %>
                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->

                        </div>

                        <div class="row">

                            <% if(dos.length>=1){ %>

                            <% for(let a=0; a< dos.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=dos[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true" ata-keyboard="false">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(dos[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=dos[a].url.substring(dos[a].url.indexOf("=")+1,dos[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=dos[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=dos[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=dos[a].img%>"
                                        class="<%if (a!=3){ %> disP <% } %>" alt="video" data-toggle="modal"
                                        data-target="#modal<%=dos[a].id%>"></a>
                            </div>
                            <%  }%>


                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <% } %>
                        </div>

                        <!-- Grid row -->
                        <div class="carousel-caption d-md-block galerytext"
                            style="background: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.6) 100%)">
                            <h3>TEPATITLÁN DE MORELOS</h3>
                            <p>PLAZA LOS ALTOS LOCAL D-18 </p>
                            <p>TEL. (378) 71 5 39 14 </p>
                            <p><a href="mailto:fondotepa@gmail.com">fondotepa@gmail.com </a></p>
                        </div>
                    </div>

                    <%   uno=multimediaA.slice(0, multimediaA.length/2); %>
                    <%   dos=multimediaA.slice(multimediaA.length/2,multimediaA.length); %>
                    <div class="carousel-item "
                        style="height:100%; background: linear-gradient(to bottom,rgba(36,175,95,.8) 0,rgba(166,107,56,.4) 100%),url(/img/cultivo5.jpg);    background-size:cover;  background-position: center;  background-repeat: no-repeat;">

                        <div class="row">

                            <!-- si se ve en mobiles -->

                            <% if(uno.length>=1){ %>

                            <% for(let a=0; a< uno.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=uno[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(uno[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=uno[a].url.substring(uno[a].url.indexOf("=")+1,uno[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=uno[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=uno[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=uno[a].img%>"
                                        class="<%if (a!=0){ %> disP <% } %> " alt="video" data-toggle="modal"
                                        data-target="#modal<%=uno[a].id%>"></a>
                            </div>
                            <%  }%>


                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <% } %>
                        </div>

                        <div class="row">

                            <!-- si se ve en mobiles -->
                            <% if(dos.length>=1){ %>

                            <% for(let a=0; a< dos.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=dos[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true" ata-keyboard="false">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(dos[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=dos[a].url.substring(dos[a].url.indexOf("=")+1,dos[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=dos[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=dos[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=dos[a].img%>"
                                        class="<%if (a!=3){ %> disP <% } %>" alt="video" data-toggle="modal"
                                        data-target="#modal<%=dos[a].id%>"></a>
                            </div>
                            <%  }%>

                            <% } %>
                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->

                        </div>

                        <div class="carousel-caption d-md-block galerytext"
                            style="background: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.6) 100%)">
                            <h3>AMECA</h3>
                            <p>CONSTITUCION #63 </p>
                            <p>TEL. (375) 75 8 30 80 </p>
                            <p><a href="mailto:fondolarazaameca@gmail.com">fondolarazaameca@gmail.com</a></p>
                        </div>
                    </div>


                    <%    uno=multimediaG.slice(0, multimediaG.length/2); %>
                    <%   dos=multimediaG.slice(multimediaG.length/2,multimediaG.length); %>

                    <div class="carousel-item "
                        style="height:100%; background: linear-gradient(to bottom,rgba(36,175,95,.8) 0,rgba(166,107,56,.4) 100%),url(/img/cultivo5.jpg);    background-size:cover;  background-position: center;  background-repeat: no-repeat;">
                        <div class="row">

                            <!-- si se ve en mobiles -->
                            <% if(uno.length>=1){ %>

                            <% for(let a=0; a< uno.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=uno[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(uno[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=uno[a].url.substring(uno[a].url.indexOf("=")+1,uno[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=uno[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=uno[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=uno[a].img%>"
                                        class="<%if (a!=0){ %> disP <% } %> " alt="video" data-toggle="modal"
                                        data-target="#modal<%=uno[a].id%>"></a>
                            </div>
                            <%  }%>
                            <% } %>

                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->

                        </div>

                        <div class="row">

                            <!-- si se ve en mobiles -->
                            <% if(dos.length>=1){ %>

                            <% for(let a=0; a< dos.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=dos[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true" ata-keyboard="false">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(dos[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=dos[a].url.substring(dos[a].url.indexOf("=")+1,dos[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=dos[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=dos[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=dos[a].img%>"
                                        class="<%if (a!=3){ %> disP <% } %>" alt="video" data-toggle="modal"
                                        data-target="#modal<%=dos[a].id%>"></a>
                            </div>
                            <%  }%>


                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <% } %>
                        </div>

                        <div class="carousel-caption d-md-block galerytext"
                            style="background: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.6) 100%)">
                            <h3>GUADALAJARA</h3>
                            <p>FRANCISCO ZARCO #369 </p>
                            <p>OFI. (33) 36 13 33 47 </p>
                            <p>CEL. 33 34 90 12 42</p>
                            <p><a href="mailto:fondogdl@gmail.com ">fondogdl@gmail.com </a></p>
                        </div>
                    </div>
                    <%    uno=multimediaAU.slice(0, multimediaAU.length/2); %>
                    <%   dos=multimediaAU.slice(multimediaAU.length/2,multimediaAU.length); %>


                    <div class="carousel-item "
                        style="height:100%; background: linear-gradient(to bottom,rgba(36,175,95,.8) 0,rgba(166,107,56,.4) 100%),url(/img/cultivo5.jpg);    background-size:cover;  background-position: center;  background-repeat: no-repeat;">
                        <div class="row">


                            <!-- si se ve en mobiles -->
                            <% if(uno.length>=1){ %>

                            <% for(let a=0; a< uno.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=uno[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(uno[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=uno[a].url.substring(uno[a].url.indexOf("=")+1,uno[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=uno[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=uno[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=uno[a].img%>"
                                        class="<%if (a!=0){ %> disP <% } %> " alt="video" data-toggle="modal"
                                        data-target="#modal<%=uno[a].id%>"></a>
                            </div>
                            <%  }%>


                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <% } %>
                        </div>



                        <div class="row">

                            <!-- si se ve en mobiles -->
                            <% if(dos.length>=1){ %>

                            <% for(let a=0; a< dos.length; a++ ){ %>

                            <div class="col-lg-4 col-md-12  pl-5 pr-5 sinP">
                                <!--inicio del modal -->
                                <div class="modal fade" id="modal<%=dos[a].id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel" aria-hidden="true" ata-keyboard="false">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-body mb-0 p-0">

                                                <% if(dos[a].tipo==0){ %>

                                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">

                                                    <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/<%=dos[a].url.substring(dos[a].url.indexOf("=")+1,dos[a].url.length)  %> "
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                </div>
                                                <% }else{ %>
                                                <img width="100%" height="100%" src="<%=dos[a].img%>"></img>
                                                <% } %>

                                            </div>

                                            <div class="modal-footer justify-content-center">
                                                <span class="mr-4" style="color:black;"><%=dos[a].titulo  %>
                                                </span>
                                                <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                    data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        <!--/.Content-->
                                    </div>
                                </div>
                                <!--Modal: Name-->
                                <a><img style="width: 100%; height: 220px; " src="<%=dos[a].img%>"
                                        class="<%if (a!=3){ %> disP <% } %>" alt="video" data-toggle="modal"
                                        data-target="#modal<%=multimediaAU[a].id%>"></a>
                            </div>
                            <%  }%>


                            <!-- si se ve en mobules -->
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <% } %>
                        </div>
                        <!-- Grid row -->
                        <div class="carousel-caption d-md-block galerytext"
                            style="background: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.6) 100%)">
                            <h3>AUTLÁN</h3>
                            <p>PEDRO MORENO #132 </p>
                            <p>INT. 3 (PLAZA PLATA) </p>
                            <p>TEL. (317) 38 2 13 30 </p>
                            <p><a href="mailto:fondo.laraza.autlan@gmail.com">fondo.laraza.autlan@gmail.com </a></p>
                        </div>
                    </div>









                    <a class="carousel-control-prev" href="#galeriaC" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#galeriaC" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>



                </div>
        </section>
        <!-- fin de galeria  -->
    </section>
    <!-- fin de la galeria -->









    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



    <!-- seccion de noticias -->
    <section class="container-fluid colorV2" id="Noticias">
        <h2 style="color:black; font-size:3.2rem;  text-align: right;">NOTICIAS</h2>
        <hr class="divider hrN">
        <div class="alturanew">


            <div class="alturauno row">

                <% if(noticias.length>0){%>
                    <div class="newuno">
                        <div class="modal fade" id="modal<%=noticias[0].id%>" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
    
                                <div class="modal-content">
    
                                    <div class="modal-body mb-0 p-0">
    
                                        <div class="container">
                                            <h2 id="main"><b style="color: #000; text-align: center;">
                                                    <%=noticias[0].titulo  %> </b></h2>
                                            <br>
                                            <img src="<%=noticias[0].imagen%>"style="width:30%; margin:5px; float: left;">
                                            <span style="color: #000; text-align:justify;
                                            text-justify:inter-word;"><%=noticias[0].cuerpo%></span>
                                        </div>
    
    
    
                                    </div>
    
                                    <div class="modal-footer justify-content-center">
    
                                        <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <a data-toggle="modal" data-target="#modal<%=noticias[0].id%>">
                            <div style="height:100%; background: linear-gradient(to top, #000 0%, rgba(0,0,0,.4) 100%),url(<%=noticias[0].imagen%>);
                           background-size: cover; ">
                            </div>
                            <div class="cuerpo">
                                <h2 id="main"><b> <%=noticias[0].titulo  %> </b></h2>
                                <span class="color-primary" style="font-size: .8rem;">
                                    <div class="inner titleNewOneTitle"></div>
                                </span>
                                <br><%=noticias[0].fecha  %> </li>
                            </div>
                        </a>
                    </div>
                    <% } %> 
               

                <div class="newdostres">

                    <% if(noticias.length>1){%>
                        <div class="newdos">
                            <div class="modal fade" id="modal<%=noticias[1].id%>" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
    
                                    <div class="modal-content">
    
                                        <div class="modal-body mb-0 p-0">
    
                                            <div class="container">
                                                <h2 id="main"><b style="color: #000; text-align: center;">
                                                        <%=noticias[1].titulo  %> </b></h2>
                                                <br>
                                                <img src="<%=noticias[1].imagen%>" style="width:30%; margin:5px; float: left;">
                                                <span style="color: #000; text-align:justify;
                                                text-justify:inter-word;"><%=noticias[1].cuerpo%></span>
                                            </div>
    
    
    
                                        </div>
    
                                        <div class="modal-footer justify-content-center">
    
                                            <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                            <a data-toggle="modal" data-target="#modal<%=noticias[1].id%>">
                                <div style="height:100%; background: linear-gradient(to top, #000 0%, rgba(0,0,0,.4) 100%),url(<%=noticias[1].imagen%>);
                              background-size: cover; ">
                                </div>
                                <div class="cuerpo">
                                    <h5><b> <%=noticias[1].titulo.substr(0,60)+"..."  %> </b></h5>
                                    <span class="color-primary"
                                        style="font-size: .6rem;"><b><%=noticias[1].cuerpo.substr(0,140)+"..."  %></b></span>
                                    <br><%=noticias[1].fecha  %> </li>
                                </div>
                            </a>
                        </div>
                        <% } %> 
                   


                    <% if(noticias.length>2){%>
                        <div class="newtres">
                            <div class="modal fade" id="modal<%=noticias[2].id%>" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
        
                                    <div class="modal-content">
        
                                        <div class="modal-body mb-0 p-0">
        
                                            <div class="container">
                                                <h2 id="main"><b style="color: #000; text-align: center;">
                                                        <%=noticias[2].titulo  %> </b></h2>
                                                <br>
                                                <img src="<%=noticias[2].imagen%>" style="width:30%; margin:5px; float: left;">
                                                <span style="color: #000; text-align:justify;
                                                text-justify:inter-word;"><%=noticias[2].cuerpo%></span>
                                            </div>
        
        
        
                                        </div>
        
                                        <div class="modal-footer justify-content-center">
        
                                            <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                            <a data-toggle="modal" data-target="#modal<%=noticias[2].id%>">
                                <div style="height:100%; background: linear-gradient(to top, #000 0%, rgba(0,0,0,.4) 100%),url(<%=noticias[2].imagen%>);
                              background-size: cover; ">
                                </div>
                                <div class="cuerpo">
                                    <h5><b> <%=noticias[2].titulo.substr(0,60)+"..."  %> </b></h5>
                                    <span class="color-primary"
                                        style="font-size: .6rem;"><b><%=noticias[2].cuerpo.substr(0,140)+"..."  %></b></span>
                                    <br><%=noticias[2].fecha  %> </li>
                                </div>
                            </a>
                        </div>
    
                        <% } %> 

                   

                </div>
            </div>


            <div class="alturados row">

                <% if(noticias.length>3){%>
                    <div class="newcuatro">
                        <div class="modal fade" id="modal<%=noticias[3].id%>" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
    
                                <div class="modal-content">
    
                                    <div class="modal-body mb-0 p-0">
    
                                        <div class="container">
                                            <h2 id="main"><b style="color: #000; text-align: center;">
                                                    <%=noticias[3].titulo  %> </b></h2>
                                            <br>
                                            <img src="<%=noticias[3].imagen%>" style="width:30%; margin:5px; float: left;">
                                            <span style="color: #000; text-align:justify;
                                            text-justify:inter-word;"><%=noticias[0].cuerpo%></span>
                                        </div>
    
    
    
                                    </div>
    
                                    <div class="modal-footer justify-content-center">
    
                                        <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <a data-toggle="modal" data-target="#modal<%=noticias[3].id%>">
                            <div style="height:100%; background: linear-gradient(to top, #000 0%, rgba(0,0,0,.4) 100%),url(<%=noticias[3].imagen%>);
                           background-size: cover; ">
                            </div>
                            <div class="cuerpo">
                                <h5><b> <%=noticias[3].titulo.substr(0,60)+"..."  %> </b></h5>
                                <span class="color-primary"
                                    style="font-size: .6rem;"><b><%=noticias[3].cuerpo.substr(0,140)+"..."  %></b></span>
                                <br><%=noticias[3].fecha  %> </li>
                            </div>
                        </a>
                    </div>
                    <% } %> 
               

                <% if(noticias.length>4){%>
                    <div class="newcinco">
                        <div class="modal fade" id="modal<%=noticias[4].id%>" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
    
                                <div class="modal-content">
    
                                    <div class="modal-body mb-0 p-0">
    
                                        <div class="container">
                                            <h2 id="main"><b style="color: #000; text-align: center;">
                                                    <%=noticias[4].titulo  %> </b></h2>
                                            <br>
                                            <img src="<%=noticias[4].imagen%>" style="width:30%; margin:5px; float: left;">
                                            <span style="color: #000; text-align:justify;
                                            text-justify:inter-word;"><%=noticias[4].cuerpo%></span>
                                        </div>
    
    
    
                                    </div>
    
                                    <div class="modal-footer justify-content-center">
    
                                        <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <a data-toggle="modal" data-target="#modal<%=noticias[4].id%>">
                            <div style="height:100%; background: linear-gradient(to top, #000 0%, rgba(0,0,0,.4) 100%),url(<%=noticias[4].imagen%>);
                           background-size: cover; ">
                            </div>
                            <div class="cuerpo">
                                <h5><b> <%=noticias[4].titulo.substr(0,60)+"..."  %> </b></h5>
                                <span class="color-primary"
                                    style="font-size: .6rem;"><b><%=noticias[4].cuerpo.substr(0,140)+"..."  %></b></span>
                                <br><%=noticias[4].fecha  %> </li>
                            </div>
                        </a>
                    </div>
                    <% } %> 
               

                <% if(noticias.length>5){%>
                    <div class="newseis">
                        <div class="modal fade" id="modal<%=noticias[5].id%>" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
    
                                <div class="modal-content">
    
                                    <div class="modal-body mb-0 p-0">
    
                                        <div class="container">
                                            <h2 id="main"><b style="color: #000; text-align: center;">
                                                    <%=noticias[5].titulo  %> </b></h2>
                                            <br>
                                            <img src="<%=noticias[5].imagen%>" style="width:30%; margin:5px; float: left;">
                                            <span style="color: #000; text-align:justify;
                                            text-justify:inter-word;"><%=noticias[5].cuerpo%></span>
                                        </div>
    
    
    
                                    </div>
    
                                    <div class="modal-footer justify-content-center">
    
                                        <button type="button" class="btn btn-dark btn-rounded btn-md ml-4"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <a data-toggle="modal" data-target="#modal<%=noticias[5].id%>">
                            <div style="height:100%; background: linear-gradient(to top, #000 0%, rgba(0,0,0,.4) 100%),url(<%=noticias[5].imagen%>);
                           background-size: cover; ">
                            </div>
                            <div class="cuerpo">
                                <h5><b> <%=noticias[5].titulo.substr(0,60)+"..."  %> </b></h5>
                                <span class="color-primary"
                                    style="font-size: .6rem;"><b><%=noticias[5].cuerpo.substr(0,140)+"..."  %></b></span>
                                <br><%=noticias[5].fecha  %> </li>
    
                            </div>
                        </a>
                    </div>
                    <% } %> 
                


            </div>
        </div>
    </section>
    <!-- final de sesion de noticias -->


    <!-- seccion blog -->
    <!-- pppppp -->

    <!-- modal para hacer pregunta -->
    <div class="modal fade" id="formNewBlog" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 class="modal-title" id="staticBackdropLabel" style="color: black;">Hacer una Pregunta</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleInputEmail1" style="color: black;">Correo al cual recibirá la
                            respuesta</label>
                        <input type="mail" class="form-control" placeholder="nombre@correo.com" id="mail"
                            aria-describedby="correo" name="mail">
                        <div id="feedbacktitulo" class="invalid-feedback">
                            Porfavor digite un correo valido.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" style="color: black;">Pregunta</label>
                        <textarea class="form-control" id="pregunta" maxlength="140" rows="3"
                            name="pregunta"></textarea>
                        <div class="text-left" style="color: black;"><span id="caracteres">0/140</span></div>
                        <div id="feedbacktitulo" class="invalid-feedback">
                            Porfvor digite una pregunta.
                        </div>
                    </div>








                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="upPregunta()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fin del modal para hacer una pregunta -->

    <section class="colorV2" id="Blog">
        <div class="container-fluid textBlog">
            <h2 style="color:black; font-size:3.2rem;">ULTIMAS PREGUNTAS</h2>
            <hr class="divider hrN">
            <button type="button" class="btn  btn-success" data-toggle="modal" data-target="#formNewBlog">Hacer
                una pregunta </button>
        </div>
    </section>
    <section class="container-fluid colorV2">
        <div class="swiper-container swiper1 textBlog2">
            <div class="swiper-wrapper ">


                <% if(preguntas!=null){ %>

                <% for(var a=0; a<preguntas.length; a++){ %>
                <% if(preguntas[a].respuesta!=""){ %>
                <div class="swiper-slide" style="height: 350px!important">


                    <div class="card" style="background: linear-gradient(to top, #000 0%, rgba(0,0,0,.4) 100%),url(/img/cultivo6.jpg);     background-position: center;
                    background-repeat: no-repeat; height:100%;">
                        <i class="fas fa-envelope-open-text pt-3" style="text-align: center; font-size: 4rem; "></i>
                        <div class="card-body">
                            <table style="border:0px">
                                <tbody>
                                    <tr style="border:0px solid transparent;">
                                        <th style="width:10%; border:0px solid transparent;"><img src="/img/user.png"
                                                style="width:40px; height:40px;     border-radius: 50%;" alt=""></th>
                                        <td style="width: 90%; border:0px solid transparent;">
                                            <p style="font-size: .8rem; text-align: justify;"><%=preguntas[a].pregunta%>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table style="border:0px">
                                <tbody>
                                    <tr style="border:0px solid transparent;">

                                        <td style="width: 95%; border:0px solid transparent;">
                                            <p style="font-size: .8rem; text-align: justify;">
                                                <%=preguntas[a].respuesta%>
                                            </p>
                                        </td>
                                        <th style="width:5%; border:0px solid transparent;"><img src="/img/logo.png"
                                                style="width:40px; height:40px;     border-radius: 50%;" alt=""></th>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>




                </div>
                <% } %>
                <% } %>
                <% }else{ %>
                <div class="swiper-slide" style="height: 350px!important">


                    <div class="card" style="background: linear-gradient(to top, #000 0%, rgba(0,0,0,.4) 100%),url(/img/cultivo.jpg);     background-position: center;
                        background-repeat: no-repeat; height:100%;">
                        <i class="fas fa-envelope-open-text pt-3" style="text-align: center; font-size: 4rem; "></i>
                        <div class="card-body">
                            <h4>Escribe una pregunta</h4>
                        </div>
                    </div>




                </div>
                <% } %>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- final de seccion blog -->

    <!-- inicio de servicios -->
    <section style="height: auto;">
        <section class="colorV2 " id="Servicios">
            <div class="container-fluid servicios" style="height: auto !important ">
                <h2 style="color:black; font-size:3.2rem;  text-align: right;">SERVICIOS</h2>
                <hr class="divider hrN">
            </div>
        </section>

        <section class="container-fluid colorV2 alturaservicios">
            <div class="swiper swiper2 servicios2" style="height: auto !important; display:block">
                <div class="parallax-bg"
                    style=" background-repeat: no-repeat; background-size: auto;   background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.8) 100%),url(/img/vacas.jpg);"
                    data-swiper-parallax="-23%"></div>
                <div class="swiper-wrapper" style="height: 100% !important ">






                    <% if(servicios!=null){ %>

                    <% for(var a=0; a<servicios.length; a++){ %>
                    <div class="swiper-slide" style="height: 100% !important ">
                        <div class="text">

                            <%-servicios[a].servicio %>

                        </div>

                    </div>

                    <% } %>
                    <% } %>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>
        </section>
        <!-- fin de productos -->
    </section>



    <section>
        <footer class="container-fluid" style="background-color: #4277fc !important; margin-top: 100px !important;">

            <!-- Footer Elements -->
            <div class="container">

                <!-- Grid row-->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-12 py-5">
                        <div class="mb-5 flex-center">

                            <!-- Facebook -->
                            <a href="https://m.facebook.com/fondoagricolayganaderolaraza/" class="fb-ic">
                                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Twitter -->
                            <!-- <a class="tw-ic">
                                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a> -->
                            <!--Linkedin -->
                            <!-- <a class="li-ic">
                                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a> -->
                            <!--Instagram-->
                            <!-- <a class="ins-ic">
                                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a> -->

                        </div>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
            <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright: FONDO DE ASEGURAMIENTO
                AGRICOLA Y GANADERO LA RAZA



            </div>
            <!-- Copyright -->

        </footer>
    </section>

</body>







<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    var swiper = new Swiper('.swiper4', {
        effect: 'coverflow',
        grabCursor: false,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        mousewheel: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    var swiper = new Swiper('.swiper5', {
        effect: 'coverflow',
        grabCursor: false,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        mousewheel: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    var swiper = new Swiper('.swiper6', {
        effect: 'coverflow',
        grabCursor: false,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        mousewheel: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    var swiper = new Swiper('.swiper7', {
        effect: 'coverflow',
        grabCursor: false,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        mousewheel: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    }); var swiper = new Swiper('.swiper8', {
        effect: 'coverflow',
        grabCursor: false,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        mousewheel: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
<script>
    var swiper = new Swiper('.swiper3 ', {
        effect: 'cube',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
<script>
    var swiper = new Swiper('.swiper2  ', {

        speed: 600,
        parallax: true,
        autoplay: {
            delay: 7000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<script>
    var swiper = new Swiper('.swiper1', {
        effect: 'coverflow',
        grabCursor: false,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        mousewheel: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
<!-- Bootstrap core JavaScript -->
<script src="css/vendor/jquery/jquery.min.js"></script>
<script src="css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- JS PARA ALERTFY -->
<script src="js/alertify.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>

<script type="text/javascript">

    var scroll = new SmoothScroll('a[href*="#"]');

    $("#pregunta").on('keypress', function () {
        var limit = 140;
        $("#pregunta").attr('maxlength', limit);
        var init = $(this).val().length;

        if (init < limit) {
            init++;
            $('#caracteres').text(init + "/140");
        }

    });

    function upPregunta() {

        emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;
        if (emailRegex.test($("#mail").val())) {

            $('#mail').addClass('is-valid');
            $('#mail').removeClass('is-invalid')
        } else {

            $('#mail').addClass('is-invalid')
            return;
        }



        if ($("#pregunta").val().length > 0) {
            $('#pregunta').addClass('is-valid');
            $('#pregunta').removeClass('is-invalid')

        } else {
            $('#pregunta').addClass('is-invalid')
            return;
        }


        var formData = new FormData();

        formData.append('pregunta', $("#pregunta").val());
        formData.append('mail', $("#mail").val());




        $.ajax({
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            contentType: false,
            processData: false,
            method: "POST",
            url: "/upPregunta",
            data: formData,
            success: (res) => {
                if (res.estado == "true") {
                    $("#formNewBlog").modal('hide');;
                    swal("Listo", "Recibirá un correo cuando tu pregunta sea respondida", "success").then(() => {
                        location.reload(true);
                    });;
                } else {
                    $("#formNewBlog").modal('hide');
                    swal("Error", "Ocurrió un error, intente de nuevo.", "error").then(() => {
                        location.reload(true);
                    });;
                }

            },
        });


    }



    //animaciones
    $(window).scroll(function () {

        $('nav').toggleClass('scrolled', $(this).scrollTop() > 550);
        $('#logot').toggleClass('scrolled2', $(this).scrollTop() > 550);
        $('#logoi').toggleClass('scrolled3', $(this).scrollTop() > 550);

    });


    //control del nav bar

    $('.navbar-nav>li>a').on('click', function () {
        $('.navbar-collapse').collapse('hide');
    });


</script>

<script type="text/javascript">
    let body = " <%=noticias[0].cuerpo.replace(/(\r\n|\n|\r)/gm, ' '); %>";

    var x = window.matchMedia('(max-width: 1000px)');

    function myFunction(x) {
        if (x.matches) {
            $('div.titleNewOneTitle').replaceWith('<b> ' + body.substr(0, 140) + ' ...</b>');

        } else {
            $('div.titleNewOneTitle').replaceWith('<b> ' + body.substr(0, 500) + ' ...</b>');

        }
    }


    myFunction(x); // Call listener function at run time
    x.addListener(myFunction);


</script>
<script>
    //  $("#demo").mdbWYSIWYG();
</script>

</html>
